h1 {
  font-size: 32px;
  color: rgb(19, 121, 253);
}

li {
  list-style: none;
  font-size: 24px;
}

a {
  text-decoration: none;
  color: var(--var-color-5);
}

.links-container {
  display: flex;
  align-items: center;
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vh 8vw;
}

.navBar ul {
  display: flex;
  gap: 20px;
}
